*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.gradle/
.idea/
eclipse/
out/
Server/

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
build.gradle.bak
forge-1.7.10-10.13.4.1614-1.7.10-src.ipr
forge-1.7.10-10.13.4.1614-1.7.10-src.iws
README.txt
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
gradle/wrapper/gradle-wrapper.properties
CREDITS-fml.txt
AcademyGravityMaster.iml
*.ipr
AcademyGravityMaster.iws
MinecraftForge-Credits.txt
LICENSE-fml.txt
MinecraftForge-License.txt
